<header>
    <div style="vertical-align: middle;">
        <img id="header-logo" style="margin-top: 5px; width:69px; height:46px"
            src="{{ "/res/img/header.gif" | relative_url }}" width="104" height="69" alt="pavlik_tt">
        URL Shortener
    </div>
    <br />
    <nav style="width:100%">
        <table class="navbar">
            <tr>
                <td> 
                    <a href="{{ "/" | relative_url }}">[Home]</a>
                    <a href="{{ "/api/" | relative_url }}">[API]</a>
                </td>
                <td style="text-align: right;">
                    <a href="{{ "https://pavliktt.pp.ua/" }}">[>> Back to the main site]</a>
                </td>
            </tr>
        </table>
        <hr>
    </nav>
</header>