<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/res/css/web1-0.css" | relative_url }}">
    {% if page.icon == "default" %}
    <link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
    {% else %}
    <link rel="icon" href="{{ page.icon }}">
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ "/feed.xml" | relative_url }}">
</head>

<body>
    <div class="center">
        {% include header.html %}
        <main style="margin: 5px;" id="main-content">
            {{ content }}
        </main>
        <hr/>
        {% include footer.html %}
    </div>
</body>

</html>